* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Melforine';
    src: url("fonts/Melforine.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelineos';
    src: url('fonts/Gelineos.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General styling */

header {
    width: 100%;
    height: 300px;
    background: #fff;
    border-bottom: 3px solid black;
}

img {
    width: 843px;
    max-height: 700px;
    object-fit: cover;
    object-position: center;
}

/* Header styling */

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 150px;
    font-family: 'Melforine', serif;
    color: black;
    white-space: nowrap;
}

/* Styling for button */
.instructions {
    position: absolute;
    top: 230px;
    left: 90%;
    z-index: 10;
}

.instructions button {
    border: none;
    background: none;
}

.closeInstructionBtn {
    top: 20px;
    left: 90%;
    z-index: 10;
}

/* Styling for popup box */
.popup {
    width: 600px;
    height: 400px;
    background: #fff;
    border: 2px solid black;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

#moreArt {
    position: absolute;
    bottom: 20px;
    left: 45%;
    transform: translate(-45%, 0%);
    border: none;
    background: none;
    font-size: 20px;
    font-family: 'Gelineos', serif;
    text-decoration: underline;

}

#closepopup {
    position: absolute;
    top: 0px;
    left: 90%;
    padding: 5px 0;
    background: none;
    border: none;
    color: #fff;
}

.popup svg {
    padding: 20px 0;
}

.popup h2 {
    font-size: 75px;
    font-family: 'Melforine', serif;
    color: black;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.popup p {
    font-size: 35px;
    font-family: "Gelineos", serif;
    color: black;
    line-height: 2.0;
}

.instructionPopup {
    width: 700px;
    height: 400px;
    background: #fff;
    border: 2px solid black;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.instructionPopup button {
    position: absolute;
    top: 0px;
    left: 90%;
    padding: 5px 0;
    background: none;
    border: none;
    color: #fff;
}

.instructionPopup h2 {
    font-size: 50px;
    font-family: 'Melforine', serif;
    color: black;
    margin-top: 50px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.instructionPopup p {
    font-size: 23px;
    font-family: "Gelineos", serif;
    color: black;
    line-height: 2.0;
}

.open-popup {
    visibility: visible;
    top: 5px;
    transform: translate(-50%, 50%) scale(1);
}